
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$text-color: #575757;
$main-background-color: white;
$textarea-background-color: #F8F8F8;
$textarea-border-color: #EAEAEA;

$font-main: Montserrat, sans-serif;
